@import "pollen-css";
@import "./normalize.css";
@import "./variables.css";

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font: var(--font-headline-1);
  margin-bottom: var(--size-4);
}

h2 {
  font: var(--font-headline-2);
  margin-bottom: var(--size-4);
}

h3 {
  font: var(--font-headline-3);
  margin-bottom: var(--size-2);
}

p {
  font: var(--font-body);
  margin-bottom: var(--size-6);
}

p:first-of-type {
  font: var(--font-body-lg);
  margin-bottom: var(--size-8);
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 6vw 2rem;
}
