@import "./normalize.css";
@import "./variables.css";

body {
  cursor: url('/Default.cur') 14 8, auto;
}

* {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font: var(--font-headline-1);
  margin-bottom: var(--space-lg);
}

h2 {
  font: var(--font-headline-2);
  margin-bottom: var(--space-lg);
}

h3 {
  font: var(--font-headline-3);
  margin-bottom: var(--space-sm);
}

p {
  font: var(--font-body);
  margin-bottom: var(--space-md);
}

p:first-of-type {
  font: var(--font-body-lg);
  margin-bottom: var(--space-lg);
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 6vw 2rem;
}

input, textarea, span, p, h1, h2, h3, h4 {
  cursor: url('/Text.cur') 24 24, auto;
}

a, button {
  cursor: url('/Pointer.cur') 16 8, auto;
}

a:active, button:active {
  cursor: url('/Pointer Press.cur') 16 8, auto;
}
