@import "@fontsource/nanum-pen-script";
@import "@fontsource/inter/variable";

:root {
  --font-sans: InterVariable, system-ui, -apple-system, Segoe UI, Roboto,
    Noto Sans, Ubuntu, Cantarell, Helvetica Neue;

  --font-mono: Fira Code, Fira CodeVariable, Consolas, Menlo, Monaco,
    "Liberation Mono", monospace;

  --font-display: Nanum Pen Script, system-ui, -apple-system, Segoe UI, Roboto,
    Noto Sans, Ubuntu, Cantarell, Helvetica Neue;

  --font-headline-1: rfs(4rem / 1 var(--font-display));
  --font-headline-2: rfs(2.5rem / 1 var(--font-display));
  --font-headline-3: rfs(1.75rem / 1 var(--font-display));
  --font-body-lg: 1.25rem / 1.4 var(--font-sans);
  --font-body: 1rem / 1.5 var(--font-sans);
  --font-body-sm: 0.75rem / 1.5 var(--font-sans);
  --font-terminal: 1.125rem / 1 var(--font-mono);
  --font-button: 1.5rem / 1 var(--font-display);

  --space-xs: 0.1875rem;
  --space-sm: calc(2 * var(--space-xs));
  --space-md: calc(2 * var(--space-sm));
  --space-lg: calc(2 * var(--space-md));
  --space-xl: calc(2 * var(--space-lg));
  --space-2xl: calc(2 * var(--space-xl));
  --space-3xl: calc(2 * var(--space-2xl));

  --minus-space-xs: calc(-1 * var(--space-xs));
  --minus-space-sm: calc(-1 * var(--space-sm));
  --minus-space-md: calc(-1 * var(--space-md));
  --minus-space-lg: calc(-1 * var(--space-lg));
  --minus-space-xl: calc(-1 * var(--space-xl));
  --minus-space-2xl: calc(-1 * var(--space-2xl));
  --minus-space-3xl: calc(-1 * var(--space-3xl));

  --shadow: 0 0 8px rgba(0, 0, 0, 0.15);

  --rounded: 7px;
  --rounded-sm: 2px;

  --ease-out: 0.125s cubic-bezier(0.33, 1, 0.68, 1);
}
